head
  title = title
  style
     include ../static/style.css 

body
  div.title 
   h1 Login
  div.form 
   form(action=' ', method='POST')
     div.mail
       label(for='email') Email
       input#email(type='email', name='mail', required='')
     div.pass
       label(for='password') Password
       input#password(type='password', name='password', required='')
     button(type='submit') Login
   a(href='/') Register
